@model IEnumerable<UserProfile>

@{
    ViewData["Title"] = "User Profils";
}

<h1>Profile Page</h1>
<div class="d-flex justify-content-end">
    <button id="toggle-dark-mode" class="btn btn-primary">Toggle Dark Mode</button>
</div>

@foreach (var user in Model)
{
    <div>
        <h4>@user.FullName's Profile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfileId)
        </dt>
        <dd class = "col-sm-10">
			@user.UserProfileId
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @user.FullName
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @user.Email
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
			<a href="tel:@user.PhoneNumber">@user.PhoneNumber</a>
		</dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="@user.ImageUrl" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GitHubUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="@user.GitHubUrl" />
        </dd>
        <dt>Skilled Languages</dt>
        <dd>
            <ul>
                @foreach(string languageSkill in user.SkilledLanguages)
                {
                    <li>@languageSkill</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<hr/>
}